//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.02 (64-bit)
//Part Number: GW1NR-LV9LQ144PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Sun 06 08 23:05:37 2025

IO_PORT "hs_data1" IO_TYPE=LVCMOS25;
IO_PORT "hs_data0" IO_TYPE=LVCMOS25;
IO_LOC "hs_burst_flag" 79;
IO_PORT "hs_burst_flag" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "byte_clk" 83;
IO_PORT "byte_clk" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "div_clk" 81;
IO_PORT "div_clk" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "mc20901_pinswap" 113;
IO_PORT "mc20901_pinswap" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "mc20901_bta" 112;
IO_PORT "mc20901_bta" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "mc20901_gpio[1]" 114;
IO_PORT "mc20901_gpio[1]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "mc20901_gpio[0]" 115;
IO_PORT "mc20901_gpio[0]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "key1" 28;
IO_PORT "key1" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "mc20901_lp_d_n" 118;
IO_PORT "mc20901_lp_d_n" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
IO_LOC "mc20901_lp_d_p" 119;
IO_PORT "mc20901_lp_d_p" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
IO_LOC "sys_rst_n" 27;
IO_PORT "sys_rst_n" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "mc20901_hs_c_p" 125,124;
IO_PORT "mc20901_hs_c_p" IO_TYPE=LVDS25 PULL_MODE=NONE DIFF_RESISTOR=ON BANK_VCCIO=2.5;
IO_LOC "mc20901_hs_e_p" 121,120;
IO_PORT "mc20901_hs_e_p" IO_TYPE=LVDS25 PULL_MODE=NONE DIFF_RESISTOR=ON BANK_VCCIO=2.5;
IO_LOC "mc20901_hs_d_p" 123,122;
IO_PORT "mc20901_hs_d_p" IO_TYPE=LVDS25 PULL_MODE=NONE DIFF_RESISTOR=ON BANK_VCCIO=2.5;
IO_LOC "mc20901_lp_e_p" 117;
IO_PORT "mc20901_lp_e_p" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
IO_PORT "mc20901_lp_c_n" IO_TYPE=LVCMOS25;
IO_PORT "d" IO_TYPE=LVCMOS25;
IO_PORT "mc20901_lp_c_p" IO_TYPE=LVCMOS25;
IO_LOC "mc20901_lp_e_n" 116;
IO_PORT "mc20901_lp_e_n" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
IO_LOC "sys_clk_27" 98;
IO_PORT "sys_clk_27" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
