rvl_alias "sys_clk" "sys_clk";
RVL_ALIAS "sys_clk" "sys_clk"; 
RVL_ALIAS "sys_clk" "pll_sys_clk_inst/CLKOP"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
LOCATE COMP "output_multi_lane_align_data_out[0]" SITE "H10" ;
LOCATE COMP "output_multi_lane_align_data_out[1]" SITE "H9" ;
LOCATE COMP "output_multi_lane_align_data_out[2]" SITE "K9" ;
LOCATE COMP "output_multi_lane_align_data_out[3]" SITE "K10" ;
LOCATE COMP "output_multi_lane_align_data_out[4]" SITE "K8" ;
LOCATE COMP "output_multi_lane_align_data_out[5]" SITE "J8" ;
LOCATE COMP "output_multi_lane_align_data_out[6]" SITE "J7" ;
LOCATE COMP "output_multi_lane_align_data_out[7]" SITE "K7" ;
LOCATE COMP "output_multi_lane_align_data_out[8]" SITE "K6" ;
LOCATE COMP "output_multi_lane_align_data_out[9]" SITE "J6" ;
LOCATE COMP "output_multi_lane_align_data_out[10]" SITE "K5" ;
LOCATE COMP "output_multi_lane_align_data_out[11]" SITE "J5" ;
LOCATE COMP "output_multi_lane_align_data_out[12]" SITE "K4" ;
LOCATE COMP "output_multi_lane_align_data_out[13]" SITE "J4" ;
LOCATE COMP "output_multi_lane_align_data_out[14]" SITE "K3" ;
LOCATE COMP "output_multi_lane_align_data_out[15]" SITE "J3" ;
LOCATE COMP "key1" SITE "D9" ;
LOCATE COMP "clk_50m" SITE "F9" ;
LOCATE COMP "ddr_output_clk" SITE "E1" ;
IOBUF PORT "ddr_output_clk" IO_TYPE=LVCMOS25 ;
IOBUF PORT "output_multi_lane_align_data_out[0]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "output_multi_lane_align_data_out[1]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "output_multi_lane_align_data_out[2]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "output_multi_lane_align_data_out[3]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "output_multi_lane_align_data_out[4]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "output_multi_lane_align_data_out[5]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "output_multi_lane_align_data_out[6]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "output_multi_lane_align_data_out[7]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "output_multi_lane_align_data_out[8]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "output_multi_lane_align_data_out[9]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "output_multi_lane_align_data_out[10]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "output_multi_lane_align_data_out[11]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "output_multi_lane_align_data_out[12]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "output_multi_lane_align_data_out[13]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "output_multi_lane_align_data_out[14]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "output_multi_lane_align_data_out[15]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "sys_clk_div2" IO_TYPE=LVCMOS25 ;
LOCATE COMP "output_multi_lane_align_data_out[16]" SITE "F1" ;
IOBUF PORT "output_multi_lane_align_data_out[16]" IO_TYPE=LVCMOS25 ;
LOCATE COMP "JTAG_TCK" SITE "K2" ;
LOCATE COMP "JTAG_TDI" SITE "D1" ;
LOCATE COMP "JTAG_TMS" SITE "F2" ;
LOCATE COMP "JTAG_TDO" SITE "E2" ;
