rvl_alias "byte_hs_clk" "byte_hs_clk";
RVL_ALIAS "byte_hs_clk" "byte_hs_clk"; 
RVL_ALIAS "byte_hs_clk" "byte_hs_clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "F9" ;
LOCATE COMP "rst_n" SITE "D9" ;
BLOCK JTAGPATHS ;
LOCATE COMP "JTAG_TCK" SITE "K2" ;
LOCATE COMP "JTAG_TDI" SITE "D1" ;
LOCATE COMP "JTAG_TMS" SITE "F2" ;
LOCATE COMP "JTAG_TDO" SITE "E2" ;
LOCATE COMP "ddr_data_out[0]" SITE "H10" ;
LOCATE COMP "ddr_data_out[1]" SITE "H9" ;
LOCATE COMP "ddr_data_out[2]" SITE "K9" ;
LOCATE COMP "ddr_data_out[3]" SITE "K10" ;
LOCATE COMP "ddr_data_out[4]" SITE "K8" ;
LOCATE COMP "ddr_data_out[5]" SITE "J8" ;
LOCATE COMP "ddr_data_out[6]" SITE "J7" ;
LOCATE COMP "ddr_data_out[7]" SITE "K7" ;
LOCATE COMP "ddr_data_out[8]" SITE "K6" ;
LOCATE COMP "ddr_data_out[9]" SITE "J6" ;
LOCATE COMP "ddr_data_out[10]" SITE "K5" ;
LOCATE COMP "ddr_data_out[11]" SITE "J5" ;
LOCATE COMP "ddr_data_out[12]" SITE "K4" ;
LOCATE COMP "ddr_data_out[13]" SITE "J4" ;
LOCATE COMP "ddr_data_out[14]" SITE "K3" ;
LOCATE COMP "ddr_data_out[15]" SITE "J3" ;
LOCATE COMP "ddr_data_out[16]" SITE "F1" ;
LOCATE COMP "ddr_output_clk" SITE "E1" ;
